[defaults]
interpreter_python=/usr/bin/python3
collections_path=COLLECTIONS_PATH_PLACEHOLDER
library=library/modules/online_net_host:library/modules/state_management_components
inventory_plugins=library/inventories/platform_nodes
filter_plugins=library/modules/machine_filters
callback_plugins=library/modules/auto_tags:library/modules/machine_output
#callbacks_enabled=auto_tags,ansible.posix.profile_roles,ansible.posix.profile_tasks
callbacks_enabled=auto_tags,ansible.posix.profile_roles,ansible.posix.profile_tasks,community.general.opentelemetry
vars_plugins=library/modules/platform_components
vars_plugins_enabled=host_group_vars,platform_components
run_vars_plugins=start
stdout_callback=machine_output
retry_files_enabled=False
host_key_checking=False
force_valid_group_names=ignore
display_skipped_hosts=False
gathering=explicit
force_color=True
forks=10
[vars_host_group_vars]
stage=all
[inventory]
cache=True
cache_plugin=jsonfile
cache_connection=/tmp/ansible-inventory
cache_timeout=151200
enable_plugins=platform_nodes
[ssh_connection]
pipelining=True
control_path=/tmp/ansible-ssh-%%h-%%p-%%r
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
[callback_profile_roles]
summary_only=True
[callback_profile_tasks]
summary_only=True
task_output_limit=30
[callback_opentelemetry]
otel_service_name=ski-ansible
hide_task_arguments=False
disable_logs=True
disable_attributes_in_logs=False
#store_spans_in_file=/host/trace.json
