### REQUIRED

# The namespace of the collection
namespace: NAMESPACE_PLACEHOLDER

# The name of the collection
name: NAME_PLACEHOLDER

# The version of the collection. Must be compatible with semantic versioning
version: 1.0.0

# The path to the Markdown (.md) readme file. This path is relative to the root of the collection
readme: README.md

# A list of the collection's content authors
authors:
- Plasma Platform <platform@plasma.sh>

### OPTIONAL but strongly recommended

# A short summary description of the collection
description: Plasma platform collection

# License for content inside of a collection
license:
- GPL-2.0-or-later

# A list of tags you want to associate with the collection for indexing/searching
tags: []

# Collections that this collection requires to be installed for it to be usable
dependencies: {}

# The URL of the originating SCM repository
repository: https://plasma.sh

# The URL to any online docs
documentation: https://plasma.sh/docs

# The URL to the homepage of the collection/project
homepage: https://plasma.sh

# The URL to the collection issue tracker
issues: https://github.com/plasma-platform/plasma/issues
